h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
input {
  border: none;
  outline: none;
  border-radius: 0;
}
.phonecode-wrap.phonecode-default {
  width: 100%;
  padding-right: 2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.phonecode-wrap.phonecode-default .get-code {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  font-size: 12px;
  text-align: center;
  width: 2rem;
  height: 100%;
  background: #03a9f4;
}
.phonecode-wrap.phonecode-default .get-code .code-txt {
  width: 100%;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
