@import url('basicFullPage.css');
@import url('mtool.css');
@import url('rule-btn.css');
.wp {
	width: 100%;
	height: 100%;
	background-color: #d43032;
}
.wp-inner {
	width: 100%;
	height: 100%;
	position: relative;
	background: #d53432;
	// background: url('../img/20170614_jkd_inner_bg_02.png') no-repeat center;
	// background-size: cover;
}
.content {
	width: 100%;
	height: 100%;
	background: url('https://r.51gjj.com/act/release/img/20170614_content_new_02.png') no-repeat center;
	background-size: contain;
}
// @keyframes msg_play {
// 	from {
// 		transform: translateX(100%);
// 	}
// 	to {
// 		transform: translateX(-100%);
// 	}
// }
// .content .msg {
// 	background-color: #982a24;
// 	height: .65rem;
// 	line-height: .65rem;
//     position: fixed;
//     width: 100%;
//     left: 0;
//     top: 0;
// }
// .content .msg span {
// 	animation: msg_play infinite 10s;
// 	font-size: .26rem;
// 	color: #fff;
// 	font-weight: bold;
// 	display: block;
// 	transition: transform 1s linear;
// }
.content .awards-info{
  	display: block;
 	background-color: #982a24;
	height: .65rem;
	line-height: .65rem;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}
.single-info{
  height: 0.65rem;
  font-size: 0.28rem;
  line-height: 0.65rem;
  padding-left: .65rem;
  padding-right: 0.65rem;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 99;
}
/*跑马灯*/
.str_wrap {
    overflow: hidden;
    zoom:1;
    // position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.str_wrap.str_active {}

.str_move {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    height: 65px;
}

.str_move_clone {
    display: inline-block;
    display:inline;
    zoom:1;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
}

.str_vertical .str_move_clone {
    left: 0;
    top: 100%;
}

.str_down .str_move_clone {
    left: 0;
    bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
    white-space: normal;
    width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
    cursor: inherit;
}
.content .awards-info{
  line-height: 1.06remm;
}
.content .single-info{
  float: left;
  padding-left: .32rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.awards-info .single-info div{
	display: inline-block !important;
    padding-right: 0.3rem;
    height: .65rem;  //这个影响了规则按钮
}
#lottery{
  position: fixed;
  height: 0.65rem;
  /*background: #7c776d;*/
  background: #982a24;
  // opacity: 0.5;
  width: 100%;
  z-index: 999;
}
// #skip {
//   position: fixed;
//   top: 5.28rem;
//   width: 100%;
//   height: 1.6rem;
// }

.content .rule-btn {
	position: absolute;
	top: .78rem;
	right: 0;
	font-size: .26rem;
	font-weight: bold;
	color: #fff0c0;
	background-color: #ff691f;
	width: .97rem;
	height: .46rem;
	line-height: .46rem;
	text-align: center;
	border-radius: .3rem 0 0 .3rem;
}

.content .apply-wrap {
    position: absolute;
    bottom: 1.3rem;
    transform: translateX(-50%);
    left: 50%;
}
.content .apply {
	font-size: .28rem;
	font-weight: bold;
	color: #f7601d;
	text-align: center;
    padding-bottom: .2rem;
}
.content .withdraw {
    border: none;
    font-size: .36rem;
    color: #ffe8e1;
    width: 5.89rem;
    height: 1.09rem;
    line-height: 1.09rem;
    background-color: #ff793d;
    padding: .4rem auto;
    text-align: center;
    border-radius: .60rem;
    font-weight: bold;
    box-shadow: 0rem .2rem .2rem #ffc7a7;
}
.awards-info .single-info span {
    padding-right: .3rem;
}