.rule {
  background: #fff;
  width: 6.22rem;
  padding: .5rem .36rem;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: .1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 99;
}
.rule h6 {
  margin: 0;
  margin-bottom: .4rem;
  font-size: .48rem;
  color: #d3921b;
  text-align: center;
}
.rule ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 6rem;
  overflow-y: scroll;
}
.rule ul li {
  position: relative;
  font-size: .24rem;
  line-height: .36rem;
  padding-left: .32rem;
  margin-bottom: .1rem;
  color: #868686;
}
.rule ul li span {
  position: absolute;
  left: 0px;
  top: 0;
  font-style: normal;
}
.rule .btn-close {
  position: absolute;
  background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
  background-size: 100%;
  // background-color: tomato;
  width: .8rem;
  height: .8rem;
  border-radius: .4rem;
  bottom: -1rem;
  left: 50%;
  margin-left: -0.4rem;
}