h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}
/* Vue Mask style */
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
}
.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity .3s;
}
.fade-slow-enter,
.fade-slow-leave-active {
  opacity: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
li {
  list-style: none;
}
div,
span,
p,
li,
img,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  display: block;
}
a {
  color: #fff;
  text-decoration: none;
}
#test {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: pink;
}
/* 提示框 */
.mt-prompt {
  width: 4rem;
  height: auto;
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -2rem;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 999;
}
/* 确认框 */
.mt-confirm {
  width: 280px;
  height: auto;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -140px;
  background: #fff;
  border-radius: 10px;
  z-index: 99;
}
/* 确认框标题 */
.mt-confirm-title {
  padding: 20px 0 16px 0;
  color: #439ef9;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}
/* 确认框文案 */
.mt-confirm-p {
  padding: 0 9px 18px;
  font-size: 16px;
  color: #565656;
  text-align: center;
}
/* 确认框按钮区域 */
.mt-button-area {
  border-top: 1px solid #e3e3e3;
}
/* 确认框2个按钮样式 */
.mt-btn-num-2 .mt-btn {
  width: 50%;
  float: left;
}
.mt-btn-num-2 .mt-btn + .mt-btn {
  border-left: 1px solid #eee;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* 确认框3个按钮样式 */
.mt-btn-num-3 .mt-btn {
  width: 33.33333%;
  float: left;
}
.mt-btn-num-3 .mt-btn + .mt-btn {
  border-left: 1px solid #eee;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* 确认框按钮通用样式 */
.mt-btn {
  text-align: center;
  font-size: 16px;
  color: gray;
  height: 48px;
  line-height: 48px;
}
/* 遮罩层 */
.mt-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 89;
}
/* 预加载组件样式 */
.mt-pre-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: #e84c3d;
}
.mt-pre-loading .mt-pre-loading-ele {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.2rem #fff;
}
.mt-pre-loading .mt-pre-loading-des {
  font-size: 20px;
  text-align: center;
  margin-top: 3.5rem;
  color: #fff;
}
.mt-pre-loading .mt-pre-loading-ele:before,
.mt-pre-loading .mt-pre-loading-ele:after {
  position: absolute;
  content: "";
  background: #e84c3d;
  width: 0.82rem;
  height: 1.62rem;
}
.mt-pre-loading .mt-pre-loading-ele:before {
  left: -0.01rem;
  -webkit-transform-origin: 0.8rem 0.8rem;
  transform-origin: 0.8rem 0.8rem;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.mt-pre-loading .mt-pre-loading-ele:after {
  right: -0.01rem;
  -webkit-transform-origin: 0rem 0.8rem;
  transform-origin: 0rem 0.8rem;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* 自定义动画 */
.anim-init {
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
  opacity: 0;
}
.anim-big {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}
/*通用*/
.hide {
  display: none;
}
.btn-blue {
  color: #439ef9;
}
/* 自定义弹框显示动画必须要有anim-conf */
.anim-conf {
  transition: opacity 0.4s ease, transform 0.4s ease;
  -webkit-transition: opacity 0.4s ease, transform 0.4s ease;
}
body,
html {
  height: 100%;
}
body {
  position: relative;
}
.wp {
  position: relative;
  height: 100%;
  background: #bc0009;
}
.curtain {
  position: absolute;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 2;
}
.l-curtain {
  width: 1.43rem;
  height: 5.04rem;
  left: 0;
  background-image: url("//r.51gjj.com/act/release/img/20170419_l_curtain.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.r-curtain {
  width: 1.60rem;
  height: 5.04rem;
  right: 0;
  background-image: url("//r.51gjj.com/act/release/img/20170419_r_curtain.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content {
  z-index: 9;
  position: relative;
}
.content .rule-btn {
  width: .9rem;
  height: .42rem;
  text-align: center;
  font-size: .26rem;
  color: #ca2435;
  line-height: .42rem;
  position: absolute;
  top: .1rem;
  right: .1rem;
  background: #fee1d9;
  border-radius: .42rem;
}
.content .title-wrap {
  width: 100%;
  height: auto;
  z-index: 1;
  padding-top: .44rem;
}
.content .title-wrap .main-title {
  width: 4.56rem;
  height: 1.01rem;
  background: url("//r.51gjj.com/act/release/img/20170419_main_title.png") no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: .1rem;
}
.content .title-wrap .sub-title {
  width: 4.66rem;
  height: .38rem;
  background: url("//r.51gjj.com/act/release/img/20170419_subtitle.png") no-repeat;
  background-size: 100%;
  margin: 0 auto;
}
.content .title-wrap .desc {
  font-size: 11px;
  text-align: center;
  line-height: 22px;
  height: 22px;
  color: #fff;
}
.content .tv-wrap {
  width: 7.42rem;
  height: 6.84rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_tv2.png");
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  top: .28rem;
  padding: 0 .4rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-top: 1.52rem;
}
.content .tv-wrap .tv-info {
  width: 100%;
  height: .7rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.content .tv-wrap .tv-info div {
  text-align: center;
  height: .7rem;
}
.content .tv-wrap .tv-info div h6 {
  font-size: .38rem;
  color: #d13202;
  font-weight: normal;
}
.content .tv-wrap .tv-info div p {
  font-size: .22rem;
  color: #ab620c;
}
.content .tv-wrap .tv-info .join-people,
.content .tv-wrap .tv-info .send-tx-member,
.content .tv-wrap .tv-info .send-bit-prize {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.content .tv-wrap .tv-orange {
  width: 100%;
  height: 4.13rem;
  background: linear-gradient(#ffcd27, #ffdd3c);
  border-radius: 0.4rem;
  position: relative;
  padding: .1rem .24rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.content .tv-wrap .tv-orange .tv-grey {
  width: 100%;
  height: 100%;
  background: #202020;
  border-radius: 10px;
  position: relative;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list {
  padding: .1rem .26rem;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item {
  width: 5.51rem;
  height: 3.49rem;
  background: #fff;
  position: absolute;
  padding: 0 .4rem;
  top: 42%;
  transform: scale(0.8) translate(-50%, -50%);
  -webkit-transform: scale(0.8) translate(-50%, -50%);
  opacity: 0.8;
  transition: transform .4s linear, top .4s linear, left .4s linear, opactity .4s linear .2s;
  -webkit-transition: transform .4s linear, top .4s linear, left .4s linear, opactity .4s linear .2s;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border-radius: 4px;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .date {
  width: 1.08rem;
  text-align: center;
  line-height: .32rem;
  height: .3rem;
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: .45rem;
  left: 0rem;
  transform: rotate(-45deg);
  transform-origin: left bottom;
  -webkit-transform-origin: left bottom;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-state {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  height: auto;
  padding: .5rem 0 .26rem 0;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-state .prize-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-state .prize-item img {
  display: block;
  margin: 0 auto;
  width: 1rem;
  height: 1rem;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-state .prize-item .num {
  font-weight: 600;
  font-size: .3rem;
  height: .4rem;
  line-height: .4rem;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process {
  width: 100%;
  height: .17rem;
  background: #d7d7d7;
  border-radius: .17rem;
  position: relative;
  top: .6rem;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-repeat: repeat-x;
  background-image: url("//r.51gjj.com/act/release/img/20170419_process.png");
  border-radius: .17rem;
  background-size: .31rem .17rem;
  transition: width 0.4s ease-out;
  -webkit-transition: width 0.4s ease-out;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-line .pos {
  position: absolute;
  width: 24px;
  height: 22px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  top: -0.75rem;
  text-align: center;
  vertical-align: middle;
  transform: translateX(-50%);
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-line .phone-pos {
  background: #ee3032;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-line .phone-pos:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ee3032;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-line .robot-pos {
  background: #e87a2a;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-line .robot-pos:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #e87a2a;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-start {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  color: #9c9c9c;
  font-size: .2rem;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-desc {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.3rem;
  font-size: .24rem;
  line-height: .24rem;
  height: .24rem;
  color: #323131;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item .prize-process .process-end {
  position: absolute;
  bottom: -0.3rem;
  right: 0;
  color: #9c9c9c;
  font-size: .2rem;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(1) {
  left: 28%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(2) {
  left: 28%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(3) {
  left: 28%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(4) {
  left: 50%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(5) {
  left: 54%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(6) {
  left: 54%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item:nth-child(7) {
  left: 54%;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item-left {
  left: 28% !important;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item-right {
  left: 54% !important;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .tv-item-index4 {
  top: 50%;
  left: 50% !important;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  -webkit-transform: scale(1) translate(-50%, -50%);
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .today-bg {
  background: #ee3032;
}
.content .tv-wrap .tv-orange .tv-grey .tv-list .otherday-bg {
  background: #aaa7a7;
}
.content .tv-wrap .tv-orange .tv-grey .dir {
  width: .3rem;
  height: .3rem;
  padding: 6px;
  position: absolute;
  background-size: .3rem .3rem;
  background-repeat: no-repeat;
  background-position: 6px 6px;
  top: 1.74rem;
  z-index: 9;
}
.content .tv-wrap .tv-orange .tv-grey .prev {
  background-image: url("//r.51gjj.com/act/release/img/20170419_prev.png");
  left: .4rem;
}
.content .tv-wrap .tv-orange .tv-grey .next {
  background-image: url("//r.51gjj.com/act/release/img/20170419_next.png");
  right: .4rem;
}
.content .egg-wrap {
  width: 100%;
  background-image: url("//r.51gjj.com/act/release/img/20170419_egg_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  position: relative;
  height: auto;
}
.content .egg-wrap .egg-title-wrap {
  padding: .8rem .16rem 0;
  position: relative;
}
.content .egg-wrap .egg-title-wrap .title {
  width: 1.93rem;
  height: .63rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_cdc.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}
.content .egg-wrap .egg-title-wrap .desc {
  color: #fff;
  font-size: .32rem;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 16px;
}
.content .egg-wrap .egg-title-wrap .egg-introduction {
  width: 100%;
  height: 2.45rem;
  border: 1px solid #da5f0f;
  position: relative;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.content .egg-wrap .egg-title-wrap .egg-introduction .introduction {
  height: .28rem;
  line-height: .28rem;
  font-size: .28rem;
  padding: 0 .2rem;
  color: #a8490b;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: #ff7c27;
  top: -0.14rem;
}
.content .egg-wrap .egg-title-wrap .egg-introduction .egg-type {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-top: .3rem;
}
.content .egg-wrap .egg-title-wrap .egg-introduction .egg-type .egg-type-item {
  display: inline-block;
  width: .87rem;
  height: 1.12rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content .egg-wrap .egg-title-wrap .egg-introduction .egg-type .type-title {
  font-size: .27rem;
  color: #fff;
}
.content .egg-wrap .egg-title-wrap .egg-introduction .egg-type .type-desc {
  font-size: .2rem;
  color: #fff;
}
.content .egg-wrap .egg-title-wrap .my-egg {
  position: fixed;
  top: 10rem;
  right: .3rem;
  width: .78rem;
  height: 1.22rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_myegg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content .egg-wrap .break-egg {
  height: auto;
  padding: .5rem .24rem;
}
.content .egg-wrap .break-egg .break-egg-title {
  width: 2.15rem;
  height: .74rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_zdq.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: .2rem;
}
.content .egg-wrap .break-egg .egg-list .egg-item {
  width: 6.97rem;
  height: 1.54rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_desk.png");
  background-size: 6.97rem .59rem;
  background-position: 0 .95rem;
  background-repeat: no-repeat;
  padding: 0 .4rem 0 .64rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-bottom: .3rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-box {
  width: .97rem;
  height: 1.28rem;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-box + .egg-box {
  margin-left: .3rem;
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-no-break-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_egg.png");
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-yw-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_ywegg.png");
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-cy-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_cyegg.png");
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-sq-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_sqegg.png");
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-fh-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_fhegg_v2.png");
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-jqr-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_jqregg.png");
}
.content .egg-wrap .break-egg .egg-list .egg-item .egg-p10-box {
  background-image: url("//r.51gjj.com/act/release/img/20170419_p10egg.png");
}
.center-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.center-wrap .egg-pop-wrap {
  width: 6.7rem;
  border-radius: 12px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding-top: 1.14rem;
  z-index: 99;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.center-wrap .egg-pop-wrap .close-wrap {
  position: absolute;
  width: .6rem;
  height: .6rem;
  top: .26rem;
  right: .18rem;
}
.center-wrap .egg-pop-wrap .close-wrap .close {
  width: .3rem;
  height: .3rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_close.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.center-wrap .egg-pop-wrap .timing {
  position: absolute;
  height: .34rem;
  line-height: .34rem;
  top: .36rem;
  left: .48rem;
  font-size: .30rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_timeicon.png");
  background-size: .23rem .34rem;
  background-position: left middle;
  background-repeat: no-repeat;
  padding-left: .3rem;
  color: #f3751d;
}
.center-wrap .egg-pop-wrap .egg-icon {
  position: absolute;
  width: 2.1rem;
  height: 2.2rem;
  background-repeat: no-repeat;
  background-size: 100%;
  top: -1.1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.center-wrap .egg-pop-wrap .egg-pop-top {
  text-align: center;
  position: relative;
  padding: 0 .48rem;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-break-title {
  color: #f3751d;
  font-size: .36rem;
  height: .36rem;
  line-height: .36rem;
  padding-bottom: .2rem;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-break-desc {
  color: #484747;
  font-size: .28rem;
  line-height: .36rem;
  padding-bottom: .4rem;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-history {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  padding: .2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-history:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  content: ' ';
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-history .egg-history-des-box {
  -webkit-box-flex: 0 0 1.84rem;
  -moz-box-flex: 0 0 1.84rem;
  -webkit-flex: 0 0 1.84rem;
  -ms-flex: 0 0 1.84rem;
  flex: 0 0 1.84rem;
  width: 1.84rem;
  text-align: right;
  height: 25px;
  padding: .15rem 0;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-history .egg-history-des-box .egg-history-des {
  width: 25px;
  height: 25px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-history .egg-history-box {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: .2rem;
}
.center-wrap .egg-pop-wrap .egg-pop-top .egg-history .egg-history-box .egg-history-egg-icon {
  width: .5rem;
  height: .66rem;
  margin-top: .12rem;
  margin-right: .2rem;
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}
.center-wrap .egg-pop-wrap .egg-pop-top .how-get-desc {
  text-align: center;
  font-size: .26rem;
  color: #f3751d;
  padding: .4rem 0;
  position: relative;
}
.center-wrap .egg-pop-wrap .egg-pop-top .how-get-desc:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  content: ' ';
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.center-wrap .egg-pop-wrap .egg-pop-middle {
  padding: 0.4rem .48rem 0.2rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg {
  padding: .2rem 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-icon {
  -webkit-box-flex: 0 0 2.65rem;
  -moz-box-flex: 0 0 2.65rem;
  -webkit-flex: 0 0 2.65rem;
  -ms-flex: 0 0 2.65rem;
  flex: 0 0 2.65rem;
  width: 2.65rem;
  text-align: center;
  height: 1.6rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-icon span {
  display: inline-block;
  width: 1.64rem;
  height: 1.42rem;
  background-repeat: no-repeat;
  background-size: 100%;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-state {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
  color: #6e6e6e;
  font-size: .26rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-state .ice-egg-middle-wrap {
  display: table;
  height: 1.6rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-state .ice-egg-middle-wrap .ice-egg-middle {
  display: table-cell;
  vertical-align: middle;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-state .ice-egg-middle-wrap .ice-egg-middle p {
  display: inline-block;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-state .ice-egg-middle-wrap .ice-egg-middle p .state-res {
  color: #ff7f26;
  font-size: .28rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .ice-egg .ice-egg-state .ice-egg-middle-wrap .ice-egg-middle p .res-time {
  font-size: .43rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  height: 2.3rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-icon {
  -webkit-box-flex: 0 0 2.62rem;
  -moz-box-flex: 0 0 2.62rem;
  -webkit-flex: 0 0 2.62rem;
  -ms-flex: 0 0 2.62rem;
  flex: 0 0 2.62rem;
  width: 2.62rem;
  height: 2.3rem;
  text-align: center;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-icon span {
  display: inline-block;
  height: 2.3rem;
  width: 2.52rem;
  background-repeat: no-repeat;
  background-size: 2.3rem 2.3rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-info {
  flex: 1;
  height: 2.3rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-info .got-egg-middle-wrap {
  display: table;
  height: 2.3rem;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-info .got-egg-middle-wrap .got-egg-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-info .got-egg-middle-wrap .got-egg-middle .prize-title {
  font-size: .32rem;
  color: #ff7f26;
  padding-bottom: 5px;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-info .got-egg-middle-wrap .got-egg-middle .prize-des {
  font-size: .24rem;
  color: #6e6e6e;
  padding-bottom: 5px;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .got-egg .got-egg-info .got-egg-middle-wrap .got-egg-middle .prize-state {
  width: 1.33rem;
  height: .47rem;
  line-height: .47rem;
  border-radius: .47rem;
  color: #636363;
  font-size: .24rem;
  margin: 0 auto;
  border: 1px solid #989898;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.center-wrap .egg-pop-wrap .egg-pop-middle .remind {
  color: #8b8888;
  font-size: .24rem;
  padding: .22rem .2rem;
  background: #f2f2f2;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.center-wrap .egg-pop-wrap .egg-pop-bottom {
  height: .98rem;
  width: 100%;
  border-radius: 0 0 12px 12px;
  overflow-y: hidden;
}
.center-wrap .egg-pop-wrap .egg-pop-bottom .btn {
  width: 100%;
  height: .98rem;
  line-height: .98rem;
  text-align: center;
  color: #fff;
  font-size: .38rem;
}
.center-wrap .my-broke-egg {
  width: 6.7rem;
  border-radius: 12px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding-top: .6rem;
  padding-bottom: .3rem;
  z-index: 99;
}
.center-wrap .my-broke-egg .close-wrap {
  position: absolute;
  width: .6rem;
  height: .6rem;
  top: .26rem;
  right: .18rem;
}
.center-wrap .my-broke-egg .close-wrap .close {
  width: .3rem;
  height: .3rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_close.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.center-wrap .my-broke-egg .title {
  font-size: .36rem;
  text-align: center;
  height: .36rem;
  line-height: .36rem;
  color: #f3751d;
  padding-bottom: .4rem;
}
.center-wrap .my-broke-egg .my-egg-list {
  width: 100%;
}
.center-wrap .my-broke-egg .my-egg-list li {
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  height: 2rem;
  width: 100%;
  margin-bottom: .4rem;
}
.center-wrap .my-broke-egg .my-egg-list li .egg-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.center-wrap .my-broke-egg .my-egg-list li .egg-item .my-egg-item {
  display: block;
  width: 1.38rem;
  height: 1.42rem;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-bottom: .1rem;
}
.center-wrap .my-broke-egg .my-egg-list li .egg-item .my-egg-title {
  font-size: .28rem;
  color: #444444;
  height: .28rem;
  line-height: .28rem;
  padding-bottom: .1rem;
}
.center-wrap .my-broke-egg .my-egg-list li .egg-item .my-egg-des {
  height: .22rem;
  line-height: .22rem;
  font-size: .22rem;
  color: #868686;
}
.center-wrap .my-broke-egg .no-egg {
  font-size: .28rem;
  color: #444444;
  line-height: .38rem;
  padding: 0 .24rem .24rem;
  text-align: center;
}
.center-wrap .my-apply {
  width: 6.7rem;
  border-radius: 12px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding-top: .6rem;
  padding-bottom: .3rem;
  z-index: 99;
}
.center-wrap .my-apply .close-wrap {
  position: absolute;
  width: .6rem;
  height: .6rem;
  top: .26rem;
  right: .18rem;
}
.center-wrap .my-apply .close-wrap .close {
  width: .3rem;
  height: .3rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_close.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.center-wrap .my-apply .back {
  position: absolute;
  width: .34rem;
  height: .31rem;
  top: .26rem;
  left: .48rem;
  background-image: url("//r.51gjj.com/act/release/img/20170419_back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.center-wrap .my-apply .title {
  font-size: .36rem;
  text-align: center;
  height: .36rem;
  line-height: .36rem;
  color: #333333;
}
.center-wrap .my-apply .apply-gift-des {
  font-size: .28rem;
  text-align: center;
  color: #333333;
  padding: .2rem;
}
.center-wrap .my-apply .my-apply-list {
  width: 100%;
  height: auto;
  padding: 0 .16rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.center-wrap .my-apply .my-apply-list .apply-item {
  height: 1.74rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  width: 100%;
  position: relative;
}
.center-wrap .my-apply .my-apply-list .apply-item .left-info {
  height: 1.74rem;
  -webkit-box-flex: 0 0 1.8rem;
  -moz-box-flex: 0 0 1.8rem;
  -webkit-flex: 0 0 1.8rem;
  -ms-flex: 0 0 1.8rem;
  flex: 0 0 1.8rem;
  width: 1.8rem;
  text-align: center;
}
.center-wrap .my-apply .my-apply-list .apply-item .left-info img {
  width: 1.8rem;
  height: 1.12rem;
  margin: .3rem auto 0;
}
.center-wrap .my-apply .my-apply-list .apply-item .right-info {
  flex: 1;
  height: 1.74rem;
}
.center-wrap .my-apply .my-apply-list .apply-item .right-info .apply-middle-wrap {
  display: table;
  height: 1.74rem;
  width: 100%;
}
.center-wrap .my-apply .my-apply-list .apply-item .right-info .apply-middle-wrap .apply-middle {
  display: table-cell;
  vertical-align: middle;
  padding-left: .2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.center-wrap .my-apply .my-apply-list .apply-item .right-info .apply-middle-wrap .apply-middle .des-txt .title {
  font-size: .3rem;
  color: #333333;
  text-align: left;
  padding-bottom: .1rem;
}
.center-wrap .my-apply .my-apply-list .apply-item .right-info .apply-middle-wrap .apply-middle .des-txt .subtitle {
  font-size: .3rem;
  color: #868686;
  padding-bottom: .1rem;
}
.center-wrap .my-apply .my-apply-list .apply-item .right-info .apply-middle-wrap .apply-middle .des-txt .desc {
  font-size: .24rem;
  color: #f3751d;
}
.center-wrap .my-apply .my-apply-list .apply-item .apply-btn {
  position: absolute;
  width: 1rem;
  height: .6rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 8px;
  background: #f3751d;
  font-size: .32rem;
  right: .16rem;
  text-align: center;
  line-height: .6rem;
  color: #fff;
}
.scale-enter-active {
  transition: all 0.3s ease;
}
.scale-leave-active {
  transition: all 0.3s ease;
}
.scale-enter,
.scale-leave-active {
  opacity: 0;
  transform: scale(0.4);
}
.xd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_xd.png");
}
.ltd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_ltd.png");
}
.fhd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_fhd.png");
}
.ywd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_ywd.png");
}
.cyd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_cyd.png");
}
.sqd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_sqd.png");
}
.res-xd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_res_p10egg.png");
}
.res-ltd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_res_jqregg.png");
}
.res-fhd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_res_fhegg.png");
}
.res-ywd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_res_ywegg.png");
}
.res-cyd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_res_cyegg.png");
}
.res-sqd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_res_sqegg.png");
}
.ice-jqregg {
  background-image: url("//r.51gjj.com/act/release/img/20170419_ice_jqregg.png");
}
.ice-p10egg {
  background-image: url("//r.51gjj.com/act/release/img/20170419_ice_p10egg.png");
}
.got-jqregg {
  background-image: url("//r.51gjj.com/act/release/img/20170419_got_jqregg.png");
}
.got-p10egg {
  background-image: url("//r.51gjj.com/act/release/img/20170419_got_p10egg.png");
}
.my-xd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_my_xd.png");
}
.my-ltd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_my_ltd.png");
}
.my-fhd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_my_fhd.png");
}
.my-ywd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_my_ywd.png");
}
.my-cyd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_my_cyd.png");
}
.my-sqd {
  background-image: url("//r.51gjj.com/act/release/img/20170419_my_sqd.png");
}
.bg-orange {
  background-color: #f3751d;
}
.bg-grey {
  background-color: #636363;
}
.rule {
  padding-bottom: 0;
  max-height: 6.1rem;
}
.rule h6 {
  margin: 0;
  margin-bottom: .2rem;
  font-size: 24px;
  color: #4e4e4e;
  padding: .2rem 0 0 .2rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.rule ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  max-height: 5rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.rule ul li {
  position: relative;
  font-size: 12px;
  line-height: .36rem;
  padding-left: 16px;
  margin-bottom: 5px;
  color: #616161;
}
.rule ul li span {
  position: absolute;
  left: 0px;
  top: 0;
  font-style: normal;
}
.rule .close-btn {
  position: absolute;
  top: 6.5rem;
  left: 50%;
  margin-left: -0.4rem;
  width: .8rem;
  height: .8rem;
  background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
  background-size: 100%;
}
.zm-customer-confirm {
  width: 6rem;
  padding-bottom: .84rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  z-index: 101;
}
