@import url('basicFullPage.css');
@import url('mtool.css');

.wp {
    overflow: auto!important;
}
.wp-inner {
    background: #fcebd1;
    position: relative;
}

.wp-inner img {
    width: 100%;
    height: inherit;
}
.mt-prompt {
    position: fixed;
}
.content .receive {
    position: absolute;
    bottom: .53rem;
    width: 5.5rem;
    height: 1.4rem;
    left: 50%;
    transform: translate(-50%);
}