@import url('mtool.css');
@import url('basicFullPage.css');
.wp {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.wp-inner {
    position: relative;
    height: 30.5rem;
    background: url("//r.51gjj.com/act/release/img/20170905_bg.jpg") no-repeat;
    background-size: 100%;
}
.top-title {
    width: 100%;
    height: 5.32rem;
}
.top-title img {
    width: 7.2rem;
    position: absolute;
    top: 0.2rem;
    left: 50%;
    margin-left: -3.6rem;
}