@import url('basicFullPage.css');
@import url('mtool.css');

.wp {
    overflow: auto!important;
}
.wp-inner {
    background: url("//r.51gjj.com/act/release/img/20170605_jhd2_bg.png") no-repeat center center fixed;
    // background: url("../img/20170605_jhd2_bg.png") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}
.content img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.content .title {
    width: 5.33rem;
    height: 2.32rem;
    top: .33rem;

}
.content .tv {
    width: 6.95rem;
    height: 7.30rem;
    top: 2.69rem;
}

.wp-inner .btn_sub {
    position: absolute;
    top: 10.6rem;
    width: 4.28rem;
    height: 1.1rem;
    left: 1.6rem;
}
.wp-inner .rule-btn {
    position: absolute;
    width: 1rem;
    height: .5rem;
    line-height: .5rem;
    color: #fff;
    font-size: .28rem;
    font-weight: 700;
    text-align: center;
    top: .3rem;
    right: 0;
    border-radius: .5rem 0 0 .5rem;
}
.wp-inner .rule-btn.gradient {
    background:-moz-radial-gradient(#ff3d4f,#ffa800);/*Mozilla*/
    background:-webkit-radial-gradient(#ff3d4f,#ffa800);/*Webkit*/
    background:-o-radial-gradient(#ff3d4f,#ffa800); /*Opera11*/
    background: radial-gradient(#ff3d4f,#ffa800);
}

.btn {
    width: 4.54rem;
    text-align: center;
    height: 1.1rem;
    line-height: 1.1rem;
    margin: 0 auto;
    background: #f3c46e;
    color: #000;
    font-size: .46rem;
    border-radius: 1.1rem;
}

.rule-btn .icon-process {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background: url("//r.51gjj.com/act/images/yunying/20170313_right_arrow.png") no-repeat;
    background-size: .31rem .31rem;
    position: relative;
    margin-left: 5px;
    vertical-align: bottom;
}

.rule {
    background: #fff;
    width: 6.22rem;
    padding: .5rem .36rem;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 99;
}

.rule h6 {
    margin: 0;
    margin-bottom: .4rem;
    font-size: 24px;
    color: #d3921b;
    text-align: center;
}

.rule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 6rem;
    overflow-y: scroll;
}

.rule ul li {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    padding-left: 16px;
    margin-bottom: 5px;
    color: #868686;
}

.rule ul li span {
    position: absolute;
    left: 0px;
    top: 0;
    font-style: normal;
}

.rule .btn-close {
    position: absolute;
    background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
    background-size: 100%;
    width: .8rem;
    height: .8rem;
    bottom: -1rem;
    left: 50%;
    margin-left: -0.4rem;
}
.mt-prompt {
    position: fixed;
}
.content .receive {
    position: absolute;
    bottom: .53rem;
    width: 5.28rem;
    height: 1.18rem;
    line-height: 1.18rem;
    text-align: center;
    font-size: .60rem;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6623ff;
    border-radius: .8rem;
    box-shadow:0 -.1rem 0 #8b58ff;
    animation: shake 300ms 2;
}
.content .circle {
    width: .24rem;
    height: .24rem;
    border-radius: .12rem;
    position: absolute;
}
.content .circle1 {
    left: .5rem;
    bottom: .5rem;
    background-color: #8049ff;
}
.content .circle2 {
    right: .5rem;
    bottom: .5rem;
    background-color: #8049ff;
}
.content .wrap-apply img.gif {
    position: relative;
    width: 5.95rem;
    height: 3.56rem;
    top: 5.02rem;
    left: 49.5%;
}
 .content .apply {
    position: absolute;
    width: 2.37rem;
    height: .85rem;
    left: 1.1rem;
    border-radius: .5rem;
}
.content .apply.apply1 {
    top: 5.18rem;
}
.content .apply.apply2 {
    bottom: 5rem;
}
@keyframes shake {
    0% {
        left: 50%;
        transform: translateX(-50%);
    }
    15% {
        left: 35%;
        transform: translateX(-35%);
    }
    30% {
        left: 50%;
        transform: translateX(-50%);
    }
    45% {
        left: 65%;
        transform: translateX(-65%);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
}
 @-webkit-keyframes shake {
    0% {
        left: 50%;
        transform: translateX(-50%);
    }
    15% {
        left: 35%;
        transform: translateX(-35%);
    }
    30% {
        left: 50%;
        transform: translateX(-50%);
    }
    45% {
        left: 65%;
        transform: translateX(-65%);
    }
    100% {
        left: 50%;
        transform: translateX(-50%);
    }
} 