@import url('basicFullPage.css');
@import url('mtool.css');
@import url('rule-btn.css');
@import url('numScrollPage.css');
.rule-btn {
  position: absolute;
  top: 11.17rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: .26rem;
  color: #677bd9;
  text-decoration: underline;
}
.wp {
  background: url("https://r.51gjj.com/act/release/img/20170828_bg.png") center no-repeat;
  background-size: cover;
}
.content {
  position: relative;
}
#lottery{
  position: fixed;
  height: .55rem;
  line-height: .55rem;
  background: #0c0829;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.single-info{
  font-size: .26rem;
  color: #fff;
}
.single-info span{
  padding-right: .3rem;
}
/*跑马灯*/
.str_wrap {
    overflow: hidden;
    zoom:1;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.str_wrap.str_active {}

.str_move {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    height: 55px;
}

.str_move_clone {
    display: inline-block;
    display:inline;
    zoom:1;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
}

.str_vertical .str_move_clone {
    left: 0;
    top: 100%;
}

.str_down .str_move_clone {
    left: 0;
    bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
    white-space: normal;
    width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
    cursor: inherit;
}
.title-container {
  background: url("https://r.51gjj.com/act/release/img/20170828_new_title.png") center no-repeat;
  background-size: cover;
  width: 5.09rem;
  height: 2.79rem;
  position: absolute;
  top: 1.05rem;
  left: 50%;
  margin-left: -2.54rem;
}
.building-left {
  background: url("https://r.51gjj.com/act/release/img/20170828_building_left.png") center no-repeat;
  background-size: cover;
  width: 1.95rem;
  height: 3.62rem;
  position: absolute;
  top: 2.53rem;
  left: 0;
}
.building-right {
  background: url("https://r.51gjj.com/act/release/img/20170828_building_right.png") center no-repeat;
  background-size: cover;
  width: 2.03rem;
  height: 3.84rem;
  position: absolute;
  top: 2.31rem;
  right: 0;
}
.dynamic-layout {
  background: #fff;
  width: 6.45rem;
  height: 6.45rem;
  border-radius: .2rem;
  position: absolute;
  top: 4.42rem;
  left: 50%;
  margin-left: -3.23rem;
  text-align: center;
}
.dynamic-title {
  font-size: .35rem;
  color: #545454;
  opacity: .9;
  position: absolute;
  top: .59rem;
  left: 50%;
  transform: translateX(-50%);
}
.act-detail {
  font-size: .28rem;
  color: #545454;
  position: absolute;
  top: 3.24rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.dynamic-btn {
  font-size: .36rem;
  color: #fff;
  background: #f4a72e;
  width: 5.27rem;
  height: .98rem;
  line-height: .98rem;
  border-radius: .5rem;
  position: absolute;
  top: 4.91rem;
  left: 50%;
  transform: translateX(-50%);
}
.provident1 {
  position: absolute;
  top: 1.47rem;
  left: 50%;
  transform: translateX(-50%);
}
.not-imported {
  width: 5.26rem;
  height: 1.22rem;
}
.provident2 {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  position: absolute;
  top: 1.47rem;
  left: 50%;
  transform: translateX(-50%);
}
.provident2 .show-num {
  margin-right: .16rem;
}
.provident2 .show-num img{
  width: .92rem;
  height: 1.21rem;
}
/*  .provident2 div span:before {
 content: "";
 width: 183%;
 height: 52%;
 position: absolute;
 background: #3a54ba;
 left: -.21rem;
 top: .54rem;
 opacity: .5;
 animation: fliptop 500ms ease-in 2;
}
.provident2 div span:after {
 content: "";
 width: 183%;
 height: 52%;
 position: absolute;
 background: #3a54ba;
 left: -.21rem;
 opacity: .5;
 animation: flipbottom 500ms ease-in 2;
}  */
.provident2 .show-num .show-num-span {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  // font-weight: bold;
  position: relative;
  // top: -.4rem;
  top: -1.3rem;
  color: #fed841;
  font-size: .84rem;
   z-index: 3;
}
.tp {
  width: 10rem;
  height: 40rem;
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  perspective: 5rem;
  perspective-origin: .5rem .5rem;
  z-index: 99;
}
.tp img {
  width: 5.99rem;
  height: 6.60rem;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
}
.tp .double {
  display: -webkit-flex;
  display: flex;
  justify-content: right;
  width: 2.06rem;
  position: relative;
  top: 8.8rem;
  left: 4.4rem;
  font-size: .63rem;
  color: #fff;
  font-weight: bold;
}
.tp .multiple {
  font-size: .32rem;
  font-weight: bold;
  color: #ffc706;
  width: 1.6rem;
  height: .7rem;
  line-height: .7rem;
  box-shadow: 0 0 0 1px;
  position: absolute;
  top: 8.2rem;
  right: 2.57rem;
  transform: rotate(30deg);
  animation: stamp 500ms ease;
}
.multiple span:first-child {
  position: relative;
  top: -.07rem;
}
.multiple span:last-child {
  font-size: .54rem;
  font-weight: bolder;
}
.deposite-btn {
  position: absolute;
  top: 11.53rem;
  width: 3.61rem;
  height: .77rem;
  left: 50%;
  margin-left: -1.8rem;
}
@-webkit-keyframes stamp {
  from {
    transform: translate3d(6rem,61rem,26rem);
  }
  to {
    transform: translate3d(2rem,1rem,2rem);

  }
}
@keyframes stamp {
  from {
    transform: translate3d(6rem,61rem,26rem);
  }
  to {
    transform: translate3d(2rem,1rem,2rem);

  }
}
  @keyframes fliptop {
  0% {
    transform: perspective(4rem) rotateX(0deg);
  }
 
  100% {
    transform: perspective(4rem) rotateX(-90deg);
  }
 }
 @keyframes flipbottom {
  0% {
    transform: perspective(4rem) rotateX(90deg);
  }
 
  100% {
    transform: perspective(4rem) rotateX(0deg);
  }
 } 
