@import url('basicFullPage.css');
@import url('mtool.css');
.wp {
    overflow: auto!important;
}
.wp-inner {
    background: #000f4f;
}

.wp-inner img {
    width: 100%;
    height: inherit;
}
.content {
	position: relative;
}
.content .btn {
    width: 6.2rem;
    height: .82rem;
    border-radius: .10rem;
    position: absolute;
    bottom: .68rem;
    left: 50%;
    transform: translateX(-50%);
}