@import url('mtool.css');
@import url('basicFullPage.css');
.wp {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.wp-inner {
    position: relative;
    height: 31.72rem;
    background: url("//r.51gjj.com/act/release/img/20170909_bg.jpg") no-repeat;
    background-size: 100%;
}
.yq-logo {
    width: 100%;
}
.yq-logo img {
    width: 1.74rem;
    padding-left: 0.18rem;
    padding-top: 0.14rem;
}
.prize-img {
    width: 100%;
}
.prize-img img {
    width: 5.29rem;
    padding-top: 0.2rem;
    padding-left: 1.37rem;
}
.wrap-lottery {
    width: 100%;
    padding-top: 4.77rem;
}
.lottery-bg {
    margin: 0 auto;
    width: 7.5rem;
    position: relative;
    background: url("//r.51gjj.com/act/release/img/20170909_lottery_bg.png") no-repeat;
    background-size: 100%;
    height: 7.53rem;
}

.btn-rule-1 {
    width: 100%;
    text-align: center;
    margin: 0.2rem 0 0.4rem 0;
}
.btn-rule-1 p:first-child {
    color: #ffffff;
    font-size: 0.24rem;
    padding-bottom: 0.25rem;
}
.btn-rule-1 p:last-child {
    font-size: 0.3rem;
    color: #fedf00;
}
.wrap-button {
    width: 100%;
    height: 1.01rem;
    padding: 0 0.4rem;
}
.btn-change {
    width: 3.2rem;
    height: 1.01rem;
    float: left;
    padding-right: 0.3rem;
}
.btn-change img {
    width: 100%;
}
.btn-prize {
    width: 3.2rem;
    float: left;
    height: 1.1rem;
}
.btn-prize img {
    width: 100%;
}
.money-prize {
    width: 100%;
}
.money-prize img {
    width: 6.28rem;
    margin: 0 auto;    
    padding-top: 1.62rem;
}
.btn-rule-2 {
    width: 100%;
    text-align: center;
    color: #666666;
    font-size: 0.3rem;
    font-weight: 600;
    padding: 0.25rem 0;
}
.toPurchase {
    text-align: center;
    font-size: .36rem;
    width: 4.84rem;
    height: .98rem;
    left: 50%;
    margin: 0 auto;
    line-height: .98rem;
    background: #fedf00;
    color: #f8504b;
    border-radius: .5rem;
    box-shadow: 0px -5px 0px #feb300 inset
}
.btn-tips {
    width: 7.21rem;
    height: 1.3rem;
    margin: 0 auto;
    background: url(//r.51gjj.com/act/release/img/20170909_btn_bg.png) no-repeat;
    background-size: 100%;
    margin-top: 0.5rem;
    color: #ffffff;
    font-size: 0.24rem;
    line-height: 1.3rem;
    text-align: center;
}
.btn-tips span {
    color: #fedf00;
}
.wrap-bottom {
    width: 100%;
    text-align: center;
    font-size: 0.24rem;
    color: #c2c0b4;
    padding-top: 0.5rem;
}
.lottery-box {
    width: 2.03rem;
    height: 1.66rem;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 4px;    
}
.lottery-start {
    width: 2.03rem;
    height: 1.66rem;
    float: left;
    margin-right: 0.1rem;
    /* background: #fef3a2; */
    background: #fedf00;
    border-radius: 0.15rem;
}
.no-start { 
    background: #fef3a2;
    align-items: center;
}
.no-start-text{ 
    padding: 0 0.39rem;
    padding-top: 0.2rem!important;
    color: #999999!important;
}
.lottery-box-0 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_1.png") no-repeat;
    background-size: 100%;
    margin-right: 0.1rem;
}
.lottery-box-1 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_2_v2.png") no-repeat;
    background-size: 100%;
    margin-right: 0.1rem;
}
.lottery-box-2 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_3.png") no-repeat;
    background-size: 100%;
}
.lottery-box-7 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_4.png") no-repeat;
    background-size: 100%;
    margin-right: 0.1rem;
}
.lottery-box-3 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_6.png") no-repeat;
    background-size: 100%;
}
.lottery-box-6 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_7.png") no-repeat;
    background-size: 100%;
    margin-right: 0.1rem;
}
.lottery-box-5 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_8.png") no-repeat;
    background-size: 100%;
    margin-right: 0.1rem;
}
.lottery-box-4 {
    background: url("//r.51gjj.com/act/release/img/20170909_box_9.png") no-repeat;
    background-size: 100%;
}
.lottery-active {
    border-radius: 9px;
    box-shadow: 0 0 60px #ffe400 inset; 
}
#lottery {
    position: relative;
    top: 1.88rem;
    width: 6.35rem;
    height: 5.19rem;
    margin: 0 auto;
    color: #999999; 
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
}
.prize-box {
    width: 5.2rem;
    height: 5.83rem;
    position: absolute;
    top: 5.5rem;
    left: 50%;
    margin-left: -2.6rem;
    margin-top: -2.92rem;
}
.lottery-text {
    font-size: 0.56rem;
    display: flex;
    justify-content: center;
    padding-top: 0.47rem;
    color: #f84d4c;
}
.lottery-change {
    font-size: 0.2rem;
    text-align: center;
    padding-top: 0.1rem;
}


.rule {
    background: url("//r.51gjj.com/act/release/img/20170909_rule_1.png");
    width: 6rem;
    height: 7.26rem;
    padding: .5rem .36rem;
    background-size: 100%;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 99;
}
.rule-2-bg {
    background: url("//r.51gjj.com/act/release/img/20170909_rule_2.png")no-repeat !important;
    background-size: 100%!important;
    width: 6.04rem!important;
    height: 5.85rem!important;
    padding-top: 1rem;
}

.rule h6 {
    margin: 0;
    margin-bottom: .4rem;
    font-size: 0.28rem;
    color: #f6be08;
    text-align: center;
    font-weight: 600;
}

.rule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 6rem;
    overflow-y: scroll;
}

.rule ul li {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    padding-left: 16px;
    margin-bottom: 5px;
    color: #ffffff;
}

.rule ul li span {
    position: absolute;
    left: 0px;
    top: 0;
    font-style: normal;
}

.rule .btn-close {
    position: absolute;
    background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
    background-size: 100%;
    width: .8rem;
    height: .8rem;
    bottom: -1rem;
    left: 50%;
    margin-left: -0.4rem;
}

.mt-prompt {
    position: fixed;
}
.prize-box-lottery {
    width: 7.24rem;
    height: 8.51rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
.prize-box-0 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_5.png")no-repeat;
    background-size: 100%;
}
.prize-box-1 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_1_v2.png")no-repeat;
    background-size: 100%;
}
.prize-box-2 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_6.png")no-repeat;
    background-size: 100%;
}
.prize-box-3 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_3.png")no-repeat;
    background-size: 100%;
}
.prize-box-4 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_7.png")no-repeat;
    background-size: 100%;
}
.prize-box-5 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_8.png")no-repeat;
    background-size: 100%;
}
.prize-box-6 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_4.png")no-repeat;
    background-size: 100%;
}
.prize-box-7 {
    background: url("//r.51gjj.com/act/release/img/20170909_prize_box_2.png")no-repeat;
    background-size: 100%;
}
.no-prize {
    width: 6rem!important;
    height: 5.8rem!important;
}
.prize-box-lottery .btn-close {
    width: 5.57rem;
    height: 1.06rem;
    margin: 0 auto;
    margin-top: 6.5rem;
    z-index: 100;
}
.prize-list {
    width: 7.24rem;
    height: 7.66rem;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: url("//r.51gjj.com/act/release/img/20170909_prize_list_bg.png");
    background-size: 100%;
}
.prize-list .wrap-list {
    position: relative;
    padding-top: 2rem;
}
.no-prize-img {
    background: url("//r.51gjj.com/act/release/img/20170909_null_prize.png")no-repeat;
    width: 1.9rem;
    width: 1.9rem;
    background-size: 100%;
    height: 1.45rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.null-text {
    color: #ffffff;
    font-size: 0.28rem;
    text-align: center;
    padding-top: 0.3rem;
}
.prize-list .btn-prize-conf {
    width: 5.54rem;
    height: 1.06rem;
    position: absolute;
    top: 5.7rem;
    left: 50%;
    transform: translateX(-50%);
}
.has-prize {
    background: #e93d3a;
    width: 5.55rem;
    height: 1.46rem;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 3rem;
}
.prize-icon {
    /* background: url("../img/20170909_prize_list_7.png")no-repeat; */
    float: left;
    background-size: 100%;
    width: 1.75rem;
    height: 1.06rem;
    margin: 0.2rem 0.25rem;
}
.prize-icon img {
    width: 100%;
}
.has-prize .prize-text {
    font-size: 0.3rem;
    color: #ffffff;
    float: right;
    margin: 0.5rem 0.25rem;
}
.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.no-prize-btn {
    margin-top: 4.2rem!important;
}
.gray-color {
    color: #999999!important;
}