@import url('basicFullPage.css');
@import url('mtool.css');
.page1 .title{
  width: 5.97rem;
  height: 3.51rem;
  position: absolute;
  top: .53rem;
  left: .73rem;
}
.page1 .img-gold{
  width: 6.76rem;
  height: 4.62rem;
  position: absolute;
  top: 4.49rem;
  left: .40rem;
}
.page1 .img-btn{
  width: 4.65rem;
  height: 1.83rem;
  position: absolute;
  top: 9.73rem;
  left: 1.41rem;
}
.page1 .title img{
  width: 5.97rem;
  height: 3.51rem
}
.page1 .img-gold img{
  width: 6.76rem;
  height: 4.62rem
}
.page1 .img-btn img{
  width: 4.65rem;
  height: 1.83rem;
}
.page1 .climb {
  background: url("../img/climbing_sprites.png") no-repeat;
  width: .92rem;
  height: 1.27rem;
  background-size: .92rem 2.54rem;
  position: absolute;
  top: 5.0rem;
  left: 3.8rem;
}
.climbing {
  animation: climbing 500ms steps(2) infinite;
}
.page1 .letter {
  /* background: url("../img/letter_sprites.png") no-repeat; */
  width: 1.4rem;
  height: .96rem;
   background-size: 1.4rem .96rem;
  position: absolute;
  top: 8.06rem;
  left: 4.13rem;
  animation: lettering 3s forwards step-end infinite;
}
.page1 .gold img{
  width: .56rem;
  height: .56rem;
  background-size: .56rem .56rem;
  position: absolute;
  left: 1.62rem;
  top: 8.59rem;
  animation: move 4s forwards step-end infinite;
}
@keyframes climbing {
  to {
    background-position: 0 -2.54rem;
  }
}
@-webkit-keyframes climbing {
  to {
    background-position: 0 -2.54rem;
  }
}

@keyframes lettering {
  0% {
    top: 8.06rem;
    left: 4.13rem;
    background-image: url("../img/20170807_letter1.png");
  }
  15% {
    top: 8.06rem;
    left: 4.33rem;
    background-image: url("../img/20170807_letter2.png");
  }
  30% {
    top: 8.06rem;
    left: 4.53rem;
    background-image: url("../img/20170807_letter3.png");
  }
  45% {
    top: 8.06rem;
    left: 4.73rem;
    background-image: url("../img/20170807_letter4.png");
  }
  60% {
    top: 8.06rem;
    left: 4.93rem;
    background-image: url("../img/20170807_letter5.png");
  }
  75% {
    top: 8.06rem;
    left: 4.63rem;
    background-image: url("../img/20170807_letter6.png");
  }
  90% {
    top: 8.06rem;
    left: 4.33rem;
    background-image: url("../img/20170807_letter7.png");
  }
  100% {
    top: 8.06rem;
    left: 4.13rem;
    background-image: url("../img/20170807_letter8.png");
  }
}
@-webkit-keyframes lettering {
  0% {
    top: 8.06rem;
    left: 4.13rem;
    background-image: url("../img/20170807_letter1.png");
  }
  15% {
    top: 8.06rem;
    left: 4.33rem;
    background-image: url("../img/20170807_letter2.png");
  }
  30% {
    top: 8.06rem;
    left: 4.53rem;
    background-image: url("../img/20170807_letter3.png");
  }
  45% {
    top: 8.06rem;
    left: 4.73rem;
    background-image: url("../img/20170807_letter4.png");
  }
  60% {
    top: 8.06rem;
    left: 4.93rem;
    background-image: url("../img/20170807_letter5.png");
  }
  75% {
    top: 8.06rem;
    left: 4.63rem;
    background-image: url("../img/20170807_letter6.png");
  }
  90% {
    top: 8.06rem;
    left: 4.33rem;
    background-image: url("../img/20170807_letter7.png");
  }
  100% {
    top: 8.06rem;
    left: 4.13rem;
    background-image: url("../img/20170807_letter8.png");
  }
}

@keyframes move {
  0% {
    left: 1.62rem;
    top: 8.59rem;
  }
  10% {
    left: 1.62rem;
    top: 9.18rem;
    transform: rotate(0deg);
  }
  20% {
    left: 1.82rem;
    top: 9.18rem;
    transform: rotate(90deg);
  }
  30% {
    left: 2.02rem;
    top: 9.18rem;
    transform: rotate(180deg);
  }
  40% {
    left: 2.22rem;
    top: 9.18rem;
    transform: rotate(270deg);
  }
  50% {
    left: 2.42rem;
    top: 9.18rem;
    transform: rotate(360deg);
  }
  60% {
    left: 2.22rem;
    top: 9.18rem;
    transform: rotate(270deg);
  }
  70% {
    left: 2.02rem;
    top: 9.18rem;
    transform: rotate(180deg);
  }
  80% {
    left: 1.82rem;
    top: 9.18rem;
    transform: rotate(90deg);
  }
  90% {
    left: 1.62rem;
    top: 9.18rem;
    transform: rotate(0deg);
  }
  100% {
    left: 1.62rem;
    top: 8.59rem;
  }
}
@-webkit-keyframes move {
  0% {
    left: 1.62rem;
    top: 8.59rem;
  }
  10% {
    left: 1.62rem;
    top: 9.18rem;
    transform: rotate(0deg);
  }
  20% {
    left: 1.82rem;
    top: 9.18rem;
    transform: rotate(90deg);
  }
  30% {
    left: 2.02rem;
    top: 9.18rem;
    transform: rotate(180deg);
  }
  40% {
    left: 2.22rem;
    top: 9.18rem;
    transform: rotate(270deg);
  }
  50% {
    left: 2.42rem;
    top: 9.18rem;
    transform: rotate(360deg);
  }
  60% {
    left: 2.22rem;
    top: 9.18rem;
    transform: rotate(270deg);
  }
  70% {
    left: 2.02rem;
    top: 9.18rem;
    transform: rotate(180deg);
  }
  80% {
    left: 1.82rem;
    top: 9.18rem;
    transform: rotate(90deg);
  }
  90% {
    left: 1.62rem;
    top: 9.18rem;
    transform: rotate(0deg);
  }
  100% {
    left: 1.62rem;
    top: 8.59rem;
  }
}
