@import url('basicFullPage.css');
@import url('mtool.css');

body{
  background-color: #036ceb;
}
.page {
  background: url("http://r.51gjj.com/act/release/img/20170313_normal_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.wrap{
  position: relative;
}
.content{
  position: relative;
}
.wrap .awards-info{
  display: block;
  /*background: #7c776d;*/
  /*background: black;
  opacity: 0.5;*/
  height: 0.55rem !important;
}
.single-info{
  height: 0.55rem;
  /*background: #7c776d;*/
  /*background: black;
  opacity: 0.5;*/
  font-size: 0.28rem;
  line-height: 0.55rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 99;
}
/*.wrap .bg p{
  height: 0.55rem;
  background: #7c776d;
  font-size: 0.28rem;
  line-height: 0.55rem;
  padding-left: 0.15rem;
  padding-right: 0.15rem;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 99;
}*/
/*#scrath{
  position: absolute;
  width: 6.48rem;
  height: 3.97rem;
  top: 15.7rem;
  left: 50%;
  margin-left: -3.24rem;
}*/
#bgImg{
  width: 100%;
  padding-top: 0.55rem; 
}
.wrap .ruleTop{
  height: .46rem;
  width: 1.4rem;
  position: absolute;
  top: 1.28rem;
  right: .18rem;
}
.clockTime{
  width: 4.1rem;
  height: 0.5rem;
  background: #eddfc6;
  position: absolute;
  top: 3.12rem;
  left: 50%;
  margin-left: -2.05rem;
  border-radius: 0.5rem;
}
.nowTime{
  font-size: 0.26rem;
  position: absolute;
  top: 0.1rem;
  right: 0.2rem;
  color: #40b3b8;
}
.clockTip{
    position: absolute;
    /*width: 3rem;*/
    height: 0.5rem;
    top: 0;
    font-size: 0.26rem;
    line-height: 0.5rem;
    left: 0.2rem;
    color: #40b3b8
}
.clockTime img{
  width: 0.3rem;
  height: 0.3rem;
  padding-top: 0.1rem;
  position: absolute;
  left: 2.5rem;

}
.ticket{
  position: absolute;
  top: 6.3rem;
  width: 2.08rem;
  height: 2.2rem;
}
.left1{
  left: 0.52rem;
}
.left2{
  left: 2.75rem;
}
.left3{
  left: 4.96rem;
}
.ticketTop{
  width: 2.08rem;
  height: 1.44rem;
}
.ticketTop img{
  width: 100%;
}
.ticket img{
  width: 100%;
}
.apply{
  width: 6.98rem;
  height: 2rem;
  position: absolute;;
  left: 50%;
  margin-left: -3.49rem;
}
.apply1{
  top: 10.75rem;
}
.apply2{
  top: 12.98rem;
}
.apply3{
  top: 15.17rem;
}
.scratchWrap{
  width: 5.98rem;
  height: 3.32rem;
  position: absolute;
  top: 16rem;
  left: 0.77rem;
}
#scratch{
  width: 5.96rem;
  height: 3.3rem;
  position: absolute;
  top: 16.57rem;
  left: 50%;
  margin-left: -2.98rem;
}

#scratch canvas {
  position: absolute;
  top: 0;
  left: 0;
}
#start{
  width: 5.98rem;
  height: 3.32rem;
  position: absolute;
  background: url("http://r.51gjj.com/act/release/img/20170406_before.png") no-repeat;
  background-size: 100%;
  z-index: 75;
}
#card{
  width: 5.98rem;
  height: 3.32rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#card img{
  width: 100%;
}
.scratchM{
  position: absolute;
  width: 5.98rem;
  height: 3.32rem;
}
.scratchM img{
  width: 100%;
}
.scratchM a{
  width: 1.6rem;
  height: 1.68rem;
  position: absolute;
  top: 1.4rem;
  left: 4.1rem;
}
.clickT{
  position: absolute;
  width: 5.98rem;
  height: 3.32rem;
}
.myTicket{
  position: absolute;
  width: 2.16rem;
  height: 0.4rem;
  top: 17.5rem;
  left: 50%;
  margin-left: -1.08rem;
}
.title-des {
  font-size: .28rem;
  color: #fff;
  text-align: center;
  padding-top: .28rem;
}
.btn {
  width: 4.54rem;
  text-align: center;
  height: 1.1rem;
  line-height: 1.1rem;
  margin: 0 auto;
  background: #f3c46e;
  color: #000;
  font-size: .46rem;
  border-radius: 1.1rem;
}
.rule-btn {
  font-size: .32rem;
  color: #fff;
  text-align: center;
  margin-top: .48rem;
}
.rule-btn .icon-process {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url("http://r.51gjj.com/act/release/img/20170313_right_arrow.png") no-repeat;
  background-size: .31rem .31rem;
  position: relative;
  margin-left: 5px;
  vertical-align: bottom;
}
.rule {
  background: #fff;
  display: none;
  width: 6.03rem;
  padding: .5rem .36rem;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 99;
}
.ticket_50 {
  display: none;
  width: 6rem;
  position: fixed;
  top: 2.8rem;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 99;
}
.ticket_50 a{
  width: 6rem;
  position: fixed;
  height: 1.55rem;
  display: inline-block;
  bottom: 0;
}

.ticket_close{
  position: fixed;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1.22rem;
}
.ticket_50 img{
  width: 100%;
}
.rule h6 {
  margin: 0;
  margin-bottom: .4rem;
  font-size: 24px;
  color: #d3921b;
  text-align: center;
}
.rule ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 6rem;
  overflow-y: scroll;
}
.rule ul li {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  padding-left: 16px;
  margin-bottom: 5px;
  color: #868686;
}
.rule ul li span {
  position: absolute;
  left: 0px;
  top: 0;
  font-style: normal;
}
.rule .btn-close {
  position: absolute;
  background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
  background-size: 100%;
  width: .8rem;
  height: .8rem;
  bottom: -1rem;
  left: 50%;
  margin-left: -0.4rem;
}
.choose {
  padding: 0 .8rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.choose li {
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.choose li .left {
  width: 4.76rem;
  text-align: center;
  color: #bc8543;
  background: #fff;
  float: left;
  height: 100%;
  border-radius: 5px 0 0 5px;
  position: relative;
}
.choose li .left .credit-card-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.choose li .right {
  width: 1.13rem;
  background: #dbb56e;
  float: left;
  height: 100%;
  position: relative;
  border-radius: 0 5px 5px 0;
}
.choose li .right .choose-icon {
  width: .66rem;
  height: .66rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url("http://r.51gjj.com/act/release/img/20170313_choose.png") no-repeat;
  background-size: 100%;
}
.card {
  width: 5.94rem;
  height: 7.84rem;
  margin: 0 auto;
  margin-top: .78rem;
  background: #fff;
  border-radius: 5px;
  margin-bottom: .55rem;
}
.card .title {
  padding-top: .52rem;
  padding-bottom: .36rem;
  font-size: .4rem;
  text-align: center;
  color: #202020;
}
.card .image {
  width: 4.55rem;
  height: 2.83rem;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #c6c6c6;
  margin-bottom: .54rem;
}
.card .image img {
  width: 100%;
}
.card .feature {
  width: 100%;
  padding: 0 .74rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.card .feature .fea-title {
  height: .32rem;
  font-size: .28rem;
  color: #4a4a4a;
  padding-left: .44rem;
}
.card .feature ul {
  font-size: .24rem;
  color: #8a8a8a;
}
.card .feature ul li {
  padding-top: .2rem;
  padding-left: .3rem;
}
.card .feature ul li span {
  font-weight: bolder;
  margin-right: .1rem;
}
.card .feature .right {
  background: url("http://r.51gjj.com/act/release/img/20170313_right.png") no-repeat;
  background-size: .32rem;
  background-position: left 0;
}
.card .feature .activity {
  background: url("http://r.51gjj.com/act/release/img/20170313_activity.png") no-repeat;
  background-size: .32rem;
  background-position: left 0;
}
.card .feature + .feature {
  padding-top: .36rem;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  z-index: 99;
}
.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.orange {
  color: #d39729;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.animated {
  transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
}
.rotate {
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
}
/*跑马灯*/
.str_wrap {
    overflow: hidden;
    zoom:1;
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.str_wrap.str_active {}

.str_move {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    height: 55px;
}

.str_move_clone {
    display: inline-block;
    display:inline;
    zoom:1;
    vertical-align: top;
    position: absolute;
    left: 100%;
    top: 0;
}

.str_vertical .str_move_clone {
    left: 0;
    top: 100%;
}

.str_down .str_move_clone {
    left: 0;
    bottom: 100%;
}

.str_vertical .str_move,
.str_down .str_move {
    white-space: normal;
    width: 100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move {
    cursor: inherit;
}
.wrap .awards-info{
  line-height: 1.06remm;
}
.wrap .single-info{
  float: left;
  padding-left: .32rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.awards-info .single-info span{
  padding-right: 0.3rem;
}
#lottery{
  position: fixed;
  height: 0.55rem;
  /*background: #7c776d;*/
  background: black;
  opacity: 0.5;
  width: 100%;
  z-index: 999;
}
#skip {
  position: fixed;
  top: 5.28rem;
  width: 100%;
  height: 1.6rem;
}

