@import url('mtool.css');
@import url('basicFullPage.css');
.wp {
    overflow: auto!important;
}

.wp-inner {
    background: #ff7b05;
    position: relative;
}

.wp-inner img {
    width: 100%;
}

.wp-inner .btn_sub {
    position: absolute;
    top: 10.6rem;
    width: 4.28rem;
    height: 1.1rem;
    left: 1.6rem;
}

.wp-inner .rule-btn {
    position: absolute;
    width: .6rem;
    height: .8rem;
    top: 0;
    margin-left: -.6rem;
    right: .26rem;
}

.btn {
    width: 4.54rem;
    text-align: center;
    height: 1.1rem;
    line-height: 1.1rem;
    margin: 0 auto;
    background: #f3c46e;
    color: #000;
    font-size: .46rem;
    border-radius: 1.1rem;
}

.rule-btn .icon-process {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background: url("//r.51gjj.com/act/images/yunying/20170313_right_arrow.png") no-repeat;
    background-size: .31rem .31rem;
    position: relative;
    margin-left: 5px;
    vertical-align: bottom;
}

.rule {
    background: #fff;
    width: 6.22rem;
    padding: .5rem .36rem;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 99;
}

.rule h6 {
    margin: 0;
    margin-bottom: .4rem;
    font-size: 24px;
    color: #d3921b;
    text-align: center;
}

.rule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 6rem;
    overflow-y: scroll;
}

.rule ul li {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    padding-left: 16px;
    margin-bottom: 5px;
    color: #868686;
}

.rule ul li span {
    position: absolute;
    left: 0px;
    top: 0;
    font-style: normal;
}

.rule .btn-close {
    position: absolute;
    background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
    background-size: 100%;
    width: .8rem;
    height: .8rem;
    bottom: -1rem;
    left: 50%;
    margin-left: -0.4rem;
}

.mt-prompt {
    position: fixed;
}

.content .loan {
    position: absolute;
    width: 5.2rem;
    height: .8rem;
    margin-left: -2.6rem;
    left: 50%;
    border-radius: .1rem;
    background: #ffebc1;
}

.content .input-1 {
    top: 6.26rem;
}

.content .input-2 {
    top: 7.4rem;
}

.content .loan input {
    width: 3.5rem;
    height: .8rem;
    font-size: .3rem;
    background: #ffebc1;
    outline: medium;
    border: none;
    position: absolute;
    left: 1.14rem;
    box-sizing: border-box;
    line-height: .8rem;
}

.content .loan span:first-child {
    font-size: .26rem;
    color: #544c41;
    position: absolute;
    line-height: .8rem;
    left: .2rem;
    font-weight: 800;
}

.content .loan span:last-child {
    font-size: .26rem;
    color: #544c41;
    position: absolute;
    line-height: .8rem;
    right: .2rem;
    font-weight: 800;
}

.content .receive {
    position: absolute;
    top: 9.7rem;
    width: 4.3rem;
    height: 1rem;
    margin-left: -2.15rem;
    left: 50%;
}

.content .result {
    position: absolute;
    top: 8.5rem;
    width: 1.2rem;
    height: .3rem;
    font-size: .3rem;
    font-weight: 600;
    text-align: center;
}

.content .interest {
    left: 25%;
    color: #000000;
}

.content .money {
    left: 63%;
    color: #e21e19;
}

.wp .ticket {
    position: absolute;
    width: 5.9rem;
    height: 5.6rem;
    top: 2.9rem;
    margin-left: -2.95rem;
    left: 50%;
    z-index: 100;
    /*display: none;*/
}

.wp .ticket img {
    width: 100%;
}

.wp .ticket .apply {
    position: absolute;
    top: 3rem;
    width: 2.6rem;
    height: .83rem;
    left: 50%;
    margin-left: -1.3rem;
}


/* 通用 */

::-webkit-input-placeholder {
    font-size: .26rem;
    line-height: .8rem;
    height: .8rem;
}

::-moz-placeholder {
    font-size: .26rem;
    line-height: .8rem;
    height: .8rem;
}


/* firefox 19+ */

:-ms-input-placeholder {
    font-size: .26rem;
    line-height: .8rem;
    height: .8rem;
}


/* ie */

input:-moz-placeholder {
    font-size: .26rem;
    line-height: .8rem;
    height: .8rem;
}