@import url('basicFullPage.css');
@import url('mtool.css');
.wp-inner {
  text-align: center;
}
.page1 {
  background: url("http://r.51gjj.com/act/release/img/20170801_page_bg.png") no-repeat;
  // background: url("../img/20170801_page_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.page1 .content .title1 {
  position: relative;
  margin: 0 auto;
  top: .5rem;
}
.page1 .content .title1 img {
  width: 5.19rem;
  height: 2.65rem;
}
.page1 .content .title2 {
  font-size: .34rem;
  color: #fff;
  letter-spacing: .2rem;
  position: relative;
  top: 1rem;
}
.title3 {
  position: relative;
  top: 1.7rem;
}
.title3 h5 {
  font-size: .45rem;
  font-weight: 100;
  color: #fff;
  letter-spacing: .1rem;
  padding-left: .4rem;
}
.title3:not(:first-child) {
  font-size: .40rem;
  color: #fff;
}
.title3 li {
  width: 5.93rem;
  height: 1.57rem;
  padding-top: .5rem;
  margin: 0 auto;
}
.title3:not(:first-child) img{
  width: 6.00rem;
  height: 1.60rem;
  margin-top: .26rem;
}
.title3:not(:first-child) span {
  position: relative;
  top: -1.15rem;
  text-shadow: 0 0 0.05rem #0cfa92;
}
.content img {
  margin: 0 auto;
}
.page2,.page3,.page4,.page5 {
  background: #1f2030;
}
.page2 .content .dial1 {
  position: relative;
  top: 1rem;
}
.page2 .content .dial1 img {
  width: 5.36rem;
  height: 1.06rem;
}
.page2 .content .dial2 {
  position: relative;
  top: 3rem;
}
.page2 .content .dial2 img {
  width: 5.36rem;
  height: 1.06rem;
}
.page3 .content .dial1 {
  position: relative;
  top: 1rem;
}
.page3 .content .dial1 img {
  width: 5.36rem;
  height: 1.06rem;
}
.page3 .content .dial2 {
  position: relative;
  top: 3.5rem;
}
.page3 .content .dial2 img {
  width: 5.36rem;
  height: 1.06rem;
}
.page3 .content .tips {
  font-size: .24rem;
  color: #5d63ce;
  position: relative;
  top: 2rem;
}
.page4 .content .dial1 {
  position: relative;
  top: 1rem;
}
.page4 .content .dial1 img {
  width: 5.36rem;
  height: 1.06rem;
}
.page4 .content .dial2 {
  position: relative;
  top: 3.5rem;
}
.page4 .content .dial2 img {
  width: 5.36rem;
  height: 1.06rem;
}
.page4 .content .choose {
  position: relative;
  top: 2rem;
}
.page4 .content .choose img {
  width: 6.16rem;
  height: 6.28rem;
}
.page4 .content .circle img{
  display: inline-block;
  width: 1.80rem;
  height: 1.78rem;
  z-index: 2;
}
.page4 .content .circle .circle-A {
  position: absolute;
  top: -.2rem;
  left: .48rem;
  width: 1.80rem;
  height: 1.78rem;
}
.page4 .content .circle .circle-B {
  position: absolute;
  top: -.2rem;
  right: .47rem;
  width: 1.80rem;
  height: 1.78rem;
}
.page4 .content .circle .circle-C {
  position: absolute;
  top: 4.65rem;
  left: .48rem;
  width: 1.80rem;
  height: 1.78rem;
}
.page4 .content .circle .circle-D {
  position: absolute;
  top: 4.68rem;
  right: .47rem;
  width: 1.80rem;
  height: 1.78rem;
}
.page4 .customization-tp {
  width: 6.95rem;
  height: 8.11rem;
  position: relative;
  top: -5rem;
  margin: 0 auto;
}
.page4 .tp {
  width: 6.95rem;
  height: 8.11rem;
}
.page4 .male,.female {
  width: 2.86rem;
  height: 5.58rem;
  position: relative;
  top: -5.8rem;
}
.page4 .tp-circle {
   width: .37rem;
   height: .35rem;
   position: relative;
   top: -12.5rem;
   left: -2.5rem;
}
.page4 .analyzing-title {
  width: 3.61rem;
  height: .34rem;
  position: relative;
  top: -12.8rem;
  left: 1.3rem;
  font-size: .28rem;
  color: #fff;
  text-align: left;
}
.page4 .analyzing-process {
  width: 3rem;
  height: 1.70rem;
  position: relative;
  top: -10rem;
  left: .5rem;
}
.page4 .analyzing-process div {
  width: 14ch;
  overflow: hidden;
  white-space: nowrap;
  width: 5rem;
  height: .25rem;
  line-height: .25rem;
  font-size: .20rem;
  color: #3cd4ed;
  text-align: left;
  padding-bottom: .1rem;
}
.page4 .scan {
  width: 3.61rem;
  height: .84rem;
  position: relative;
  top: -11rem;
  margin: 0 auto;
}
.page4 .scan img {
  width: 3.64rem;
  height: 1.46rem;
}
.page4 .customization-tp span:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis 2s steps(3) infinite;
  content: "\2026";
  white-space: nowrap;
}
.page5 .content .test-result {
  width: 6.59rem;
  height: 3.59rem;
  margin: 0 auto;
  position: relative;
  padding-top: .5rem;
}
.page5 .content .test-result img {
  width: 6.59rem;
  height: 3.59rem;
}
.page5 .icon-box {
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 80%;
  height: 1rem;
  margin: 0 auto;
  position: relative;
  top: -2rem;
}
.page5 .content .test-result ul.icon-box li {
  display: inline-block;
  width: 1.40rem;
  text-align: center;
  font-size: .28rem;
  color: #fff;
  padding-right: .3rem;
}
.page5 .content .test-result ul.icon-box li img {
  width: 1rem;
  height: 1rem;
  padding-bottom: .1rem;
}
.page5 .content .final-loan {
  width: 6.79rem;
  height: 4.36rem;
  position: relative;
  left: .1rem;
  padding-top: .4rem;
}
.page5 .content .final-loan img.final-loan {
  width: 6.79rem;
  height: 4.36rem;
}
.page5 .content .final-loan .loan-name {
  font-size: .36rem;
  color: #2ee3f6;
  width: 2.31rem;
  line-height: .56rem;
  position: relative;
  top: -4.22rem;
  text-align: center;
  left: 2.5rem;
}
.page5 .content .final-loan .loan-match {
  font-size: .27rem;
  color: #f5fe00;
  width: 2.67rem;
  height: .45rem;
  border-radius: .5rem;
  background: #0d132c;
  line-height: .45rem;
  position: relative;
  top: -3.8rem;
  text-align: center;
  left: .8rem;
  z-index: 2;
}
.page5 .content .final-loan .loan-match span {
  display: block;
  width: 90%;
  height: .43rem;
  border-radius: .5rem;
  position: relative;
  top: -.43rem;
  z-index: -2;
}
.page5 .content .loan-amount {
  font-size: .32rem;
  color: #fff;
  position: relative;
  top: -3.4rem;
  left: -1.4rem;
}
.page5 .content .loan-amount span {
  font-size: .80rem;
}
.page5 .content .withdraw {
  width: 1.17rem;
  height: 1.17rem;
  background: -webkit-linear-gradient(top, #bb2df0,#8f34f1); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom,#bb2df0,#8f34f1); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom, #bb2df0,#8f34f1); /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom,#bb2df0,#8f34f1); /* 标准的语法 */
  position: relative;
  top: -4.5rem;
  left: 5rem;
  font-size: .32rem;
  color: #fff;
  text-align: center;
}
.page5 .content .withdraw span {
  display: block;
  position: relative;
  top: .2rem;
}
.page5 .content .info-box {
  height: .4rem;
  position: relative;
  top: -5.6rem;
  display: block;
  left: -.3rem;
}
.page5 .content .day-rate,.release-time {
  height: .36rem;
  box-shadow: 0 0 0 1px #27b79e;
  font-size: .24rem;
  color: #27b79e;
  text-align: center;
  line-height: .36rem;
  display: inline-block;
  position: relative;
  top: -.67rem;
  padding: 0 .1rem;
}
.page5 .content .fingerprint {
  width: .72rem;
  height: .94rem;
  position: relative;
  top: -1.23rem;
}
.page5 .content .finger-box {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: -5.8rem;
  left: 4.85rem;
}
.page5 .content .finger {
  width: .26rem;
  height: .38rem;
}
.page5 .content .finger-scan {
  width: 1.38rem;
  position: relative;
  top: -1.6rem;
  left: -.2rem;
  z-index: 99;
}
.page5 .content .rectangle {
  width: 1.38rem;
  height: 1.38rem;
}
.page5 .content .test-btn {
  position: relative;
  top: 1.5rem;
  font-size: .46rem;
  color: #4c83ff;
  box-shadow:0 0 2px #6a2ab1,
             0 0 2px #4c83ff,
             0 -2px 0 #6a2ab1,
             0 2px 0 #4c83ff;
  border-radius: .5rem;
  width: 6.45rem;
  height: .84rem;
  line-height: .84rem;
  transform: translateX(-50%);
  left: 50%;
}
.page5 .content .test-btn:before {
  // content: url("../img/20170801_page5_left_arrow.png");
  content: url("http://r.51gjj.com/act/release/img/20170801_page5_left_arrow.png");
  width: .38rem;
  height: .29rem;
  background-size: .38rem .29rem;
  position: relative;
  top: .1rem;
  padding-right: .5rem;
}
.page5 .content .test-btn:after {
  content: url("http://r.51gjj.com/act/release/img/20170801_page5_right_arrow.png");
  width: .38rem;
  height: .29rem;
  background-size: .38rem .29rem;
  position: relative;
  top: .1rem;
  padding-left: .5rem;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform :rotate(360deg);
  }
}
@keyframes circlerotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform :rotate(360deg);
  }
}
@keyframes ellipsis {
    from {
        width: 3px;
    }
    to {
        width: 16px;
    }
}
@keyframes analyzing {
  from {
    width: 0;
  }
}
@keyframes scan {
  0% {
    top: -11rem;
  }
  25% {
    top: -11.3rem;
  }
  50% {
    top: -11.7rem;
  }
  75% {
    top: -11.3rem;
  }
  100% {
    top: -11rem;
  }
}
@keyframes gradient {
  from {
    width: 0;
  }
  to {
    width: 2.4rem;
  }
}
@keyframes move {
  0%,100%{
    transform: translate(0rem,0rem);
  }
  50%{
    transform: translate(0rem,-.2rem);
  }
}
@keyframes fingerscan {
  0%,100%{
    transform: translate(.2rem,.3rem);
  }
  50%{
    transform: translate(.2rem,1.4rem);
  }
}
@keyframes zooming {
  0%,100%{
    width: 1.38rem;
    height: 1.38rem;
  }
  50%{
    width: 1.40rem;
    height: 1.40rem;
  }
}
@keyframes bounceout {
  20% {
    transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}
.bounce-out {
  animation: bounceout 600ms ease-in-out;
}
.move {
  animation: move 1s infinite ease-in-out;
}
.zooming {
  animation: zooming 1s infinite ease-in-out;
}
.progress {
   background: -webkit-linear-gradient(left, #584ded,#7d38f1); /* Safari 5.1 - 6.0 */
   background: -o-linear-gradient(right,#584ded,#7d38f1); /* Opera 11.1 - 12.0 */
   background: -moz-linear-gradient(right, #584ded,#7d38f1); /* Firefox 3.6 - 15 */
   background: linear-gradient(to right,#584ded,#7d38f1); /* 标准的语法 */
   animation: gradient 500ms 1 linear;
}
.analyzing {
  animation: analyzing 5s linear;
}
.rotating {
  transition: transform 1s ease;
  animation: rotate 500ms ease;
}
.circle-rotating {
  transition: transform 1s ease;
  animation: circlerotate 2s forwards infinite ease;
}
.scaning {
  transition: top 1s linear;
  animation: scan 2s infinite linear;
}
.finger-scaning {
  transition: top 1s linear;
  animation: fingerscan 2s infinite linear;
}
