@import url('basicFullPage.css');
@import url('mtool.css');

.wp {
    overflow: auto!important;
}
.wp-inner {
    background: #fa3058;
    position: relative;
}

.wp-inner img {
    width: 100%;
}

.wp-inner .btn_sub {
    position: absolute;
    top: 10.6rem;
    width: 4.28rem;
    height: 1.1rem;
    left: 1.6rem;
}

.wp-inner .content {
    position: relative;
}
.wp-inner .rule-btn {
    position: absolute;
    width: .8rem;
    height: .5rem;
    top: .3rem;
    right: 0;
    border-radius: .5rem 0 0 .5rem;
}

.btn {
    width: 4.54rem;
    text-align: center;
    height: 1.1rem;
    line-height: 1.1rem;
    margin: 0 auto;
    background: #f3c46e;
    color: #000;
    font-size: .46rem;
    border-radius: 1.1rem;
}

.rule-btn .icon-process {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background: url("//r.51gjj.com/act/images/yunying/20170313_right_arrow.png") no-repeat;
    background-size: .31rem .31rem;
    position: relative;
    margin-left: 5px;
    vertical-align: bottom;
}

.rule {
    background: #fff;
    width: 6.22rem;
    padding: .5rem .36rem;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 99;
}

.rule h6 {
    margin: 0;
    margin-bottom: .4rem;
    font-size: 24px;
    color: #d3921b;
    text-align: center;
}

.rule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 6rem;
    overflow-y: scroll;
}

.rule ul li {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    padding-left: 16px;
    margin-bottom: 5px;
    color: #868686;
}

.rule ul li span {
    position: absolute;
    left: 0px;
    top: 0;
    font-style: normal;
}

.rule .btn-close {
    position: absolute;
    background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
    background-size: 100%;
    width: .8rem;
    height: .8rem;
    bottom: -1rem;
    left: 50%;
    margin-left: -0.4rem;
}
.mt-prompt {
    position: fixed;
}
.content .receive {
    position: absolute;
    bottom: .53rem;
    width: 5.5rem;
    height: 1.4rem;
    left: 50%;
    transform: translate(-50%);
}
.content .apply1 {
    position: absolute;
    bottom: 5.8rem;
    width: 2.5rem;
    height: 1.8rem;
    left: 1.1rem;
}
.content .apply2 {
    position: absolute;
    bottom: 3.65rem;
    width: 2.5rem;
    height: 1.8rem;
    left: 1.1rem;
}