    @import url('basicFullPage.css');
@import url('mtool.css');
.wp {
    overflow: auto!important;
}

.wp-inner {
    background: #191343;
    position: relative;
}

.wp-inner img {
    width: 100%;
}

.wp-inner .btn_sub {
    position: absolute;
    top: 10.6rem;
    width: 4.28rem;
    height: 1.1rem;
    left: 1.6rem;
}

.wp-inner .rule-btn {
    position: absolute;
    width: 1.2rem;
    height: .7rem;
    top: 0;
    margin-left: -.6rem;
    right: 0;
}

.rule-btn .icon-process {
    display: inline-block;
    width: .32rem;
    height: .32rem;
    background: url("//r.51gjj.com/act/images/yunying/20170313_right_arrow.png") no-repeat;
    background-size: .31rem .31rem;
    position: relative;
    margin-left: 5px;
    vertical-align: bottom;
}

.rule {
    background: #fff;
    width: 6.22rem;
    padding: .5rem .36rem;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 99;
    margin-top: -40%;
}

.rule h6 {
    margin: 0;
    margin-bottom: .4rem;
    font-size: 24px;
    color: #d3921b;
    text-align: center;
}

.rule ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 6rem;
    overflow-y: scroll;
}

.rule ul li {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    padding-left: 16px;
    margin-bottom: 5px;
    color: #868686;
}

.rule ul li span {
    position: absolute;
    left: 0px;
    top: 0;
    font-style: normal;
}

.rule .btn-close {
    position: absolute;
    background: url("https://r.51gjj.com/act/images/20160818_close.png") no-repeat;
    background-size: 100%;
    width: .8rem;
    height: .8rem;
    bottom: -1rem;
    left: 50%;
    margin-left: -0.4rem;
}

.mt-prompt {
    position: fixed;
}

.content .receive {
    position: absolute;
    top: 10.46rem;
    width: 5.7rem;
    height: 1rem;
    margin-left: -2.85rem;
    left: 50%;
}

.data {
    color: #ffffff;
    font-weight: blod;
    font-size: 1rem;
    line-height: 0.6rem;
    position: absolute;
    top: 3.6rem;
    width: 2.6rem;
    height: 0.97rem;
    line-height: 0.97rem;
    left: 50%;
    margin-left: -1.3rem;
    /*transform: skew(-8deg);
    -ms-transform: skew(-8deg);
    -webkit-transform: skew(-8deg);*/
    letter-spacing: 0.365rem;
    text-indent: 0.1rem;
    font-family: Microsoft YaHei;
    font-weight: 600;
}
    .content .prize {
        position: absolute;
        font-size: 0.6rem;
        right: 10%;
        color: #e54833;
    }
    .seal30 {
        position: absolute;
        top: 4.98rem;
        left: 2.7rem;
        width: 1.73rem;
        height: 0.96rem;
        background: url("https://r.51gjj.com/act/release/img/20170627_seal.png");
        background-size: 100%;
    }
    .seal50 {
        position: absolute;
        top: 6.68rem;
        left: 2.7rem;
        width: 1.73rem;
        height: 0.96rem;
        background: url("https://r.51gjj.com/act/release/img/20170627_seal.png");
        background-size: 100%;
    }
    .seal70 {
        position: absolute;
        top: 8.36rem;
        left: 2.7rem;
        width: 1.73rem;
        height: 0.96rem;
        background: url("https://r.51gjj.com/act/release/img/20170627_seal.png");
        background-size: 100%;
    }
    .money30 {
        top: 5.38rem;
    }
    .money50 {
        top: 7.1rem;
    }
    .money70 {
        top: 8.8rem;
    }
    .prize span {
        font-size: 0.4rem;
    }