@import url('basicFullPage.css');
@import url('mtool.css');
.page {
  background: url("//r.51gjj.com/act/release/img/20170526_normal_bg.jpg") no-repeat;
  /*background: url("../img/20170526_normal_bg.jpg") no-repeat;*/
  background-size: cover;
  background-position: center;
}
.page1 .t1 {
  width: 5.6rem;
  height: 4rem;
  position: relative;
  margin: 0 auto;
  padding-top: 1rem;
}
.page1 .t1 img {
  width: 100%;
  height: 4rem;
}
.page1 .t2 {
  position: relative;
  color: #f3c46e;
  font-size: .3rem;
  text-align: center;
  padding-top: .22rem;
}
.page1 .t3 {
  position: relative;
  width: 3.76rem;
  font-size: .34rem;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 1rem 0 1.1rem 0;
}
.page1 .t3 li + li {
  padding-top: .56rem;
  position: relative;
}
.page1 .t3 li + li:before {
  content: "";
  position: absolute;
  background: url("//r.51gjj.com/act/release/img/20170526_page1_title3_decoration.png") no-repeat;
  /*background: url(../img/20170526_page1_title3_decoration.png) no-repeat;*/
  background-size: 100%;
  width: 3.7rem;
  height: .1rem;
  left: 0;
  top: .2rem;
}
.page1 .process {
  font-size: .32rem;
  color: #fff;
  text-align: center;
  margin-top: .48rem;
}
.page1 .process .icon-process {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url("//r.51gjj.com/act/release/img/20170313_right_arrow.png") no-repeat;
  background-size: .31rem .31rem;
  position: relative;
  margin-left: 5px;
  vertical-align: bottom;
}
.page2 .t1 {
  padding-top: 1.27rem;
  text-align: center;
  font-size: .46rem;
  color: #fff;
}
.page2 .choose {
  padding-top: 1.7rem;
}
.page2 .choose li {
  height: 2.9rem;
  line-height: 2.9rem;
  margin-bottom: .4rem;
  font-size: .82rem;
}
.page3 .t1 {
  padding-top: 1.27rem;
  text-align: center;
  font-size: .46rem;
  color: #fff;
}
.page3 .choose {
  padding-top: .9rem;
}
.page3 .choose li {
  height: 2.4rem;
  line-height: 2.4rem;
  margin-bottom: .3rem;
}
.page3 .choose li .icon-pufa {
  width: 3.13rem;
  height: .96rem;
  background: url("//r.51gjj.com/act/release/img/20170526_pufa.png") no-repeat;
  /*background: url("../img/20170526_pufa.png") no-repeat;*/
  background-size: 100%;
}
.page3 .choose li .icon-guangda {
  width: 3.78rem;
  height: .68rem;
  background: url("//r.51gjj.com/act/release/img/20170526_guangda.png") no-repeat;
  /*background: url("../img/20170526_guangda.png") no-repeat;*/
  background-size: 100%;
}
.page3 .choose li .icon-xingye {
  width: 3.45rem;
  height: .69rem;
  background: url("//r.51gjj.com/act/release/img/20170526_xingye.png") no-repeat;
  /*background: url("../img/20170526_xingye.png") no-repeat;*/
  background-size: 100%;
}
.page4 .t1 {
  padding-top: 1.27rem;
  text-align: center;
  font-size: .46rem;
  color: #fff;
}
.page4 .choose {
  padding-top: .9rem;
}
.page4 .choose li {
  height: 2.9rem;
  line-height: 2.9rem;
  margin-bottom: .4rem;
  font-size: .68rem;
}
.page4 .rule {
  font-size: .32rem;
  color: #fff;
  text-align: center;
  padding-top: .48rem;
}
.page4 .rule .icon-process {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url("//r.51gjj.com/act/release/img/20170313_right_arrow.png") no-repeat;
  background-size: .31rem .31rem;
  position: relative;
  margin-left: 5px;
  vertical-align: bottom;
}
.title-des {
  font-size: .28rem;
  color: #fff;
  text-align: center;
  padding-top: .28rem;
}
.btn {
  width: 4.54rem;
  text-align: center;
  height: 1.1rem;
  line-height: 1.1rem;
  margin: 0 auto;
  background: #ea3131;
  color: #ffffff;
  font-size: .46rem;
  border-radius: 1.1rem;
}
.rule-btn {
  font-size: .32rem;
  color: #fff;
  text-align: center;
  margin-top: .48rem;
}
.rule-btn .icon-process {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url("//r.51gjj.com/act/release/img/20170313_right_arrow.png") no-repeat;
  background-size: .31rem .31rem;
  position: relative;
  margin-left: 5px;
  vertical-align: bottom;
}
.rule {
  background: #fff;
  width: 6.22rem;
  padding: .5rem .36rem;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 99;
}
.rule h6 {
  margin: 0;
  margin-bottom: .4rem;
  font-size: 24px;
  color: #d3921b;
  text-align: center;
}
.rule ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 6rem;
  overflow-y: scroll;
}
.rule ul li {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  padding-left: 16px;
  margin-bottom: 5px;
  color: #868686;
}
.rule ul li span {
  position: absolute;
  left: 0px;
  top: 0;
  font-style: normal;
}
.rule .btn-close {
  position: absolute;
  background: url("://r.51gjj.com/act/images/20160818_close.png") no-repeat;
  background-size: 100%;
  width: .8rem;
  height: .8rem;
  bottom: -1rem;
  left: 50%;
  margin-left: -0.4rem;
}
.choose {
  padding: 0 .8rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.choose li {
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.choose li .left {
  width: 4.76rem;
  text-align: center;
  color: #ea6363;
  background: #fff;
  float: left;
  height: 100%;
  border-radius: 5px 0 0 5px;
  position: relative;
}
.choose li .left .credit-card-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.choose li .right {
  width: 1.13rem;
  background: #ea6363;
  float: left;
  height: 100%;
  position: relative;
  border-radius: 0 5px 5px 0;
}
.choose li .right .choose-icon {
  width: .66rem;
  height: .66rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url("//r.51gjj.com/act/release/img/20170526_choose.png") no-repeat;
  /*background: url(../img/20170526_choose.png) no-repeat;*/
  background-size: 100%;
}
.card {
  width: 5.94rem;
  height: 7.84rem;
  margin: 0 auto;
  margin-top: .78rem;
  background: #fff;
  border-radius: 5px;
  margin-bottom: .55rem;
}
.card .title {
  padding-top: .52rem;
  padding-bottom: .36rem;
  font-size: .4rem;
  text-align: center;
  color: #202020;
}
.card .image {
  width: 4.55rem;
  height: 2.83rem;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #c6c6c6;
  margin-bottom: .54rem;
}
.card .image img {
  width: 100%;
}
.card .feature {
  width: 100%;
  padding: 0 .74rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.card .feature .fea-title {
  height: .32rem;
  font-size: .28rem;
  color: #4a4a4a;
  padding-left: .44rem;
}
.card .feature ul {
  font-size: .24rem;
  color: #8a8a8a;
}
.card .feature ul li {
  padding-top: .2rem;
  padding-left: .3rem;
}
.card .feature ul li span {
  font-weight: bolder;
  margin-right: .1rem;
}
.card .feature .right {
  background: url("//r.51gjj.com/act/release/img/20170526_right.png") no-repeat;
  /*background: url("../img/20170526_right.png") no-repeat;*/
  background-size: .32rem;
  background-position: left 0;
}
.card .feature .activity {
  background: url("//r.51gjj.com/act/release/img/20170526_activity.png") no-repeat;
  /*background: url("../img/20170526_activity.png") no-repeat;*/
  background-size: .32rem;
  background-position: left 0;
}
.card .feature + .feature {
  padding-top: .36rem;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  z-index: 99;
}
.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.red {
  color: #ea6363;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.animated {
  transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
}
.rotate {
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
}
