/*翻页动画*/
@-webkit-keyframes flipTop {
0% {
  -webkit-transform: perspective(4rem) rotateX(0deg);
  transform-origin: 50% 50%;
}

100% {
-webkit-transform: perspective(4rem) rotateX(-90deg); transform-origin: 50% 50%;} }

@-webkit-keyframes flipBottom {
0% {
-webkit-transform: perspective(4rem) rotateX(90deg); transform-origin: 50% 50%;}

100% {
-webkit-transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;} }

@-moz-keyframes flipTop {
0% {
-moz-transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;}

100% {
-moz-transform: perspective(4rem) rotateX(-90deg); transform-origin: 50% 50%;} }

@-moz-keyframes flipBottom {
0% {
-moz-transform: perspective(4rem) rotateX(90deg); transform-origin: 50% 50%;}

100% {
-moz-transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;} }

@-ms-keyframes flipTop {
0% {
-ms-transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;}

100% {
-ms-transform: perspective(4rem) rotateX(-90deg); transform-origin: 50% 50%;} }

@-ms-keyframes flipBottom {
0% {
-ms-transform: perspective(4rem) rotateX(90deg); transform-origin: 50% 50%;}

100% {
-ms-transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;} }

@-keyframes flipTop {
0% {
transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;}

100% {
transform: perspective(4rem) rotateX(-90deg); transform-origin: 50% 50%;} }

@-keyframes flipBottom {
0% {
transform: perspective(4rem) rotateX(90deg); transform-origin: 50% 50%;}

100% {
transform: perspective(4rem) rotateX(0deg); transform-origin: 50% 50%;} }

.dataStatistics {/* color: #3a54ba; */font-family: "Helvetica Neue", Helvetica, sans-serif;font-size: 1.60rem;/* font-weight: bold; */line-height: 1.70rem;height: 1.70rem;  width: 7.46rem; margin: 0 auto;}

.dataStatistics .seperator {vertical-align: top;margin: 0 -.20rem;display: inline; }
.dataStatistics .seconds,.dataStatistics .minutes,.dataStatistics .hours,.dataStatistics .days {height: 100%;display: inline; }
.dataStatistics .digit_set { /* border-radius: .10rem; *//* box-shadow: 0 .02rem .04rem rgba(0, 0, 0, 0.8); *//* border: 1rem solid #111111; */width: .92rem;height: 80%;display: inline-block;position: relative;margin: 0 .1rem; }

.dataStatistics .digit {position: absolute;height: 80%; top: .5rem;}
.dataStatistics .digit > div {position: absolute;left: 0;overflow: hidden;height: 100%;width: .62rem;padding: 0 .15rem; top: -.45rem;}

.dataStatistics .digit > div.digit_top, .dataStatistics .digit > div.shadow_top { width: .62rem; background: url("../img/20170828_top.png");background-size:.92rem .60rem;/* box-shadow: 0 0 0 1px red; *//*  border-bottom: .01rem solid #3a54ba;box-sizing: border-box;top: 0;z-index: 0;border-radius: 0 0 .10rem .10rem ;  */}
.dataStatistics .digit > div.digit_top:before, .dataStatistics .digit > div.shadow_top:before {content: "";height: 100%;width: 100%;position: absolute;left: 0;top: 0; }
.dataStatistics .digit > div.shadow_top {width: .52rem;opacity: 0;-webkit-transition: opacity 0.3s ease-in; }
.dataStatistics .digit > div.digit_bottom, .dataStatistics .digit > div.shadow_bottom { background: url("../img/20170828_bottom.png");background-size:.92rem .60rem;bottom: 0;z-index: 0;/* border-radius: .10rem .10rem 0 0; */ position: relative;/* top: .7rem; */}
.dataStatistics .digit > div.digit_bottom .digit_wrap, .dataStatistics .digit > div.shadow_bottom .digit_wrap {display: block;margin-top: -95%; }
.dataStatistics .digit > div.digit_bottom:before, .dataStatistics .digit > div.shadow_bottom:before {content: "";/* border-radius: 0 0 .10rem .10rem; */height: 100%;width: 100%;position: absolute;left: 0;top: 0; }
.digit_wrap {line-height: 1.7rem; display: block; overflow: hidden;}
.dataStatistics .digit > div.shadow_bottom {opacity: 0;-webkit-transition: opacity 0.3s ease-in; }
.dataStatistics .digit.previous .digit_top,.dataStatistics .digit.previous .shadow_top {opacity: 1;z-index: 2;-webkit-transform-origin: 50% 100%;-webkit-animation: flipTop 0.3s ease-in both;-moz-transform-origin: 50% 100%;-moz-animation: flipTop 0.3s ease-in both;-ms-transform-origin: 50% 100%;-ms-animation: flipTop 0.3s ease-in both; transform-origin: 50% 100%;animation: flipTop 0.3s ease-in both;}
.dataStatistics .digit.previous .digit_bottom,.dataStatistics .digit.previous .shadow_bottom {z-index: 1;/* opacity: 1; */ }
.dataStatistics .digit.active .digit_top {z-index: 1; }
.dataStatistics .digit.active .digit_bottom {z-index: 2;-webkit-transform-origin: 50% 0%;-webkit-animation: flipBottom 0.3s 0.3s ease-out both;-moz-transform-origin: 50% 0%;-moz-animation: flipBottom 0.3s 0.3s ease-out both ;-ms-transform-origin: 50% 0%;-ms-animation: flipBottom 0.3s 0.3s ease-out both ;transform-origin: 50% 0%;animation: flipBottom 0.3s 0.3s ease-out both ; }
